<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="AIR Default" Description="AIR's default project code analysis rule set." ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0002" Action="Error" />
    <Rule Id="SA1027" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1102" Action="None" />
    <Rule Id="SA1103" Action="None" />
    <Rule Id="SA1104" Action="None" />
    <Rule Id="SA1106" Action="Error" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1121" Action="Error" />
    <Rule Id="SA1124" Action="Error" />
  </Rules>
</RuleSet>